<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>
            **/.godot/**/*.cs,
            **/src/UI/**/*.cs,
            **/src/Game/GameSession.cs,
            **/src/Game/World/MapEditor.cs,
            **/src/Game/World/TerrainRenderer.cs,
            **/src/Systems/Networking/LobbyManager.cs,
            **/src/Game/Buildings/BuildingPlacer.cs,
            **/src/Game/Units/UnitNode3D.cs,
            **/src/Game/VFX/ParticleFactory.cs,
            **/src/Game/Economy/HarvesterSystem.cs,
            **/src/Game/World/PropPlacer.cs,
            **/src/Game/AI/SkirmishAI.cs,
            **/src/Game/AI/AIBuildOrder.cs,
            **/src/Systems/Graphics/QualityManager.cs,
            **/src/Systems/Networking/LockstepManager.cs,
            **/src/Game/Main.cs,
            **/src/Game/AI/AICommander.cs,
            **/src/Game/AI/NavalBehaviourTree.cs,
            **/src/Systems/Networking/LanDiscovery.cs,
            **/src/Systems/Platform/MobileCompat.cs,
            **/src/Systems/Persistence/SaveManager.cs,
            **/src/Game/Buildings/ProductionQueue.cs,
            **/src/Game/Buildings/BuildingInstance.cs,
            **/src/Game/World/WaterRenderer.cs,
            **/src/Game/World/DebugTestScene.cs,
            **/src/Systems/Persistence/ReplayManager.cs,
            **/src/Systems/Localization/LocalizationManager.cs,
            **/src/Systems/Audio/AudioManager.cs,
            **/src/Game/Camera/RTSCamera.cs,
            **/src/Systems/Audio/SoundRegistry.cs,
            **/src/Systems/Localization/SubtitleManager.cs,
            **/src/Systems/Networking/NetworkTransport.cs,
            **/src/Game/Units/UnitSpawner.cs,
            **/src/Game/Units/CohesiveMaterial.cs,
            **/src/Systems/Audio/CombatAudioBridge.cs,
            **/src/Game/World/ProceduralModelLoader.cs,
            **/src/Core/GameManager.cs,
            **/src/Core/EventBus.cs,
            **/src/Game/World/FogRenderer3D.cs,
            **/src/Game/World/MapLoader.cs,
            **/src/Game/Assets/UnitDataRegistry.cs,
            **/src/Game/Assets/AssetRegistry.cs,
            **/src/Systems/Persistence/CampaignProgressManager.cs,
            **/src/Game/Assets/FactionRegistry.cs,
            **/src/Game/VFX/CombatVFXBridge.cs,
            **/src/Game/Tutorial/TutorialManager.cs,
            **/src/Game/Units/SelectionCircle.cs,
            **/src/Core/BootLoader.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
